<main class="educationPage">

    @if(loading){
        <div class="state">Cargando juegos...</div>
    } @else if (error){
        <div class="state error">{{error}}</div>
    } @else{
    <section class="digipenConainer">
        <header class="digipenHeader"> DigiPen Institute of Technology Europe - Bilbao </header>
        <p class="rtisInfo"> Grado en Ingeniería Informática en Simulación Interactiva en Tiempo Real</p>

        @for (cat of digipenCourses; track cat) {
            <app-digipen-category [category]=cat ></app-digipen-category>
        }
    </section>
    }   
</main>

