<main class="educationPage">

    @if(loading){
        <div class="state">Cargando juegos...</div>
    } @else if (error){
        <div class="state error">{{error}}</div>
    } @else{
    <header class="educationIntro">
        <h1 class="educationTitle">Educación</h1>
        <p class="educationSubtitle">Formación académica en desarrollo de videojuegos y en master de Full Stack.</p>
    </header>
    <section class="digipenContainer">
        <header class="digipenHeader"> DigiPen Institute of Technology Europe - Bilbao </header>
        <p class="rtisInfo"> Grado en Ingeniería Informática en Simulación Interactiva en Tiempo Real</p>

        @for (cat of digipenCourses; track cat; let i = $index) {
            @if (i > 0) {
                <div class="digipenDivider" aria-hidden="true"></div>
            }
            <app-digipen-category [category]=cat ></app-digipen-category>
        }
    </section>
    <section class="unirContainer">
        <header class="unirHeader">UNIR - Universidad Internacional de La Rioja</header>
        <p class="unirMasterInfo">Máster de Formación Permanente en Full Stack Developer</p>
        @for (mod of unirCourses; track mod) {
            <app-unir-card [modules]="mod"></app-unir-card>
        }
    </section>
    }   
</main>

